@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100vw;
    display: flex;
    justify-content: flex-start; /* Align elements to the left */
    align-items: center;
    position: fixed; 
    top: 0; 
    z-index: 999; 
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    color:white;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.limage img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 400px;
    height: 600px;
    background: #000;
    box-shadow: 0 0 50px red;
    border-radius: 10%;
    padding: 40px;
}

.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added to stack elements vertically */
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}

h2 {
    font-size: 30px;
    color: #fff;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #000;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -20px;
}

.remember {
    margin: -5px 0 15px 5px;
}

.remember label {
    color: #fff;
    font-size: 14px;
}

.remember label input {
    accent-color: red;
}

button {
    width: 100%;
    height: 40px;
    background: red;
    box-shadow: 0 0 10px red;
    font-size: 16px;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #fff;
}
